/* @import url('https://fonts.googleapis.com/css?family=Lobster'); */
/* @import url('https://fonts.googleapis.com/css?family=Ultra'); */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 440px;
}

.row{
    font-family: Archivo Black;
    text-align: left;
    display: inline-block;
    width: 14%;
    height: 15%;
    /* border: 1px solid black; */
    border:1px solid rgba(0, 0, 0, 0.144) ;
    cursor: pointer;
}

.dayinweek{
    text-align: center;
    font-family: Alfa Slab One;
    font-size: 150%;
    cursor: context-menu;
    height: 9%;
    border: none;
}

.monthName{
    font-family: Alfa Slab One;
    display: inline-block;
}

.backToToday{
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 1137px) {
    .dayinweek {
      visibility: visible;
    }
  }